<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>: <a href="https://www.linkedin.com/profile/view?id=72920120" target="_blank">Daniel Meneses</a>
       and <a href="https://www.linkedin.com/in/miguelantoniofuentes" target="_blank">Miguel Fuentes Buchholtz</a><br>
      Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>
      , Banner by <a href="https://www.flickr.com/photos/r00s/" target="_blank">R00s</a>
    </div>
  </div>
</footer>